<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

    <!-- Bootstrap core CSS -->
    {{ bootstrap.load_css() }}

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">

  </head>

  <body>
  <div class="mobile-spacer">
      <nav class="navbar navbar-light">
          <p class="special_nav mx-0 my-0 font-weight-bold">
              {% if active_page == 'info' %}
                info
              {% elif active_page == 'CV' %}
                CV
              {% elif active_page == 'uni' %}
                uni subjects
              {% else %}
                work
              {% endif %}
          </p>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </nav>
      <div class="pos-f-t">
          <div class="collapse" id="navbarToggleExternalContent">
              <div class="p-2 mx-auto">
                  {% if active_page == 'info' %}
                      <a class="p-2 pl-3 special_nav" href="{{ url_for('cv') }}">CV</a><br>
                      <a class="p-2 pl-3 special_nav" href="{{ url_for('uni') }}">uni subjects</a><br>
                      <a class="p-2 pl-3 special_nav" href="{{ url_for('work') }}">work</a><br>
                      <div class="dropdown-divider"></div>
                  {% elif active_page == 'CV' %}
                      <a class="p-2 pl-3 special_nav" href="{{ url_for('info') }}">info</a><br>
                      <a class="p-2 pl-3 special_nav" href="{{ url_for('uni') }}">uni subjects</a><br>
                      <a class="p-2 pl-3 special_nav" href="{{ url_for('work') }}">work</a><br>
                      <div class="dropdown-divider"></div>
                  {% elif active_page == 'uni' %}
                      <a class="p-2 pl-3 special_nav" href="{{ url_for('info') }}">info</a><br>
                      <a class="p-2 pl-3 special_nav" href="{{ url_for('cv') }}">CV</a><br>
                      <a class="p-2 pl-3 special_nav" href="{{ url_for('work') }}">work</a><br>
                      <div class="dropdown-divider"></div>
                  {% else %}
                      <a class="p-2 pl-3 special_nav" href="{{ url_for('info') }}">info</a><br>
                      <a class="p-2 pl-3 special_nav" href="{{ url_for('cv') }}">CV</a><br>
                      <a class="p-2 pl-3 special_nav" href="{{ url_for('uni') }}">uni subjects</a><br>
                      <div class="dropdown-divider"></div>
                  {% endif %}
              </div>
          </div>
      </div>
  <br>
  <br>
  </div>


      <nav class="nav d-flex big-only pl-5 pt-2 pb-4">
          <a class="{{ 'active p-2 special_nav' if active_page == 'info' else 'p-2 special_nav' }}" href="{{ url_for('info') }}">info</a>
          <a class="{{ 'active p-2 special_nav' if active_page == 'CV' else 'p-2 special_nav' }}" href="{{ url_for('cv') }}">CV</a>
          <a class="{{ 'active p-2 special_nav' if active_page == 'uni' else 'p-2 special_nav' }}" href="{{ url_for('uni') }}">uni subjects</a>
          <a class="{{ 'active p-2 special_nav' if active_page == 'work' else 'p-2 special_nav' }}" href="{{ url_for('work') }}">work</a>
      </nav>


  {% block content %}{% endblock %}
  {{ bootstrap.load_js() }}
  </body>

</html>
