{% extends 'base.html' %}
{% set active_page = 'CV' %}

{% block title %}
    CV | alex aird
{% endblock %}

{% block content %}
        <div class="container">
            <h1 class="info-text">alex aird</h1>
            <p>
                <strong>Passionate about</strong> data, technology, and learning – and always looking for an opportunity to
                combine all three. Through tertiary study, I have developed a combination of in-depth business understanding
                and technical ability, alongside an analytical skillset which marries the two. In my experience working as a
                data analyst, I have followed numerous data-driven projects from inception to completion, including
                requirements gathering, preliminary data exploration, amending and developing ETL pipelines, data storage,
                and deriving vital insights.
            </p>
            <p>I offer a proven ability to work both autonomously and in an agile collaborative environment, and plentiful
                experience in communicating data-driven insights to peers and other key stakeholders. I am driven to
                continually learn and develop new skills, and relish the chance to work on complex problems.
            </p>

            <br>
            <h1>Technical Skills</h1>
            <div class="dropdown-divider"></div>
            <br>
            <h4>Databases / Analytics Pipelines / ETL Process</h4>
            <ul>
                <li>SQL and NoSQL Technology – Google BigQuery, MySQL/Oracle, Cassandra</li>
                <li>ETL Tools and programming – DBT (including jinja), Pentaho Kettle</li>
                <li>Data Manipulation – SQL, Python, R</li>
            </ul>

            <br>
            <h4>Data Analysis & Visualisation</h4>
            <ul>
                <li>Extensive experience with Looker (including LookML)</li>
                <li>Familiarity with Tableau and Qlik</li>
            </ul>

            <br>
            <h4>Software Engineering, Cloud Computing, Machine Learning & Web Design</h4>
            <ul>
                <li>Experienced with Python, familiar with Go, Java, Scala and R</li>
                <li>Version control & continuous integration – git, CI/CD with GitLab, Jenkins</li>
                <li>Google Cloud Platform – GCE virtual machines, Dataproc (Apache Spark) & more</li>
                <li>Cloud Machine Learning – Spark SQL for data manipulation, SparkML</li>
                <li>
                    Web design – Websites & API endpoints with Python Flask/Go, PHP & CodeIgniter, design with HTML, CSS
                    & JavaScript
                </li>
            </ul>

            <br>
            <h4>Fundamentals of Commerce and Economics</h4>
            <p>
                Including statistics, accounting, microeconomics, macroeconomics, marketing, business process management
                and business information systems strategy.
            </p>

            <br>
            <br>

            <h1>Soft Skills</h1>
            <div class="dropdown-divider"></div>
            <br>

            <div class="row mb-2">
                <div class="col-md-6">
                    <ul>
                        <li>Team leadership, management & product steering</li>
                        <li>Stakeholder management</li>
                        <li>Complex & ambiguous problem solving</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Combining analytical & creative thinking</li>
                        <li>Requirements gathering</li>
                        <li>Effective communication with colleagues and clients</li>
                    </ul>
                </div>
            </div>

            <br>
            <br>

            <h1>Education</h1>
            <div class="dropdown-divider"></div>
            <br>

            <span><strong>The University of Queensland</strong></span>
            <br class="mobile-spacer">
            <span class="float-lg-right">2016 - November 2020</span>

            <p class="mt-3">Bachelor of Commerce & Bachelor of Information Technology</p>
            <p>Majoring in Business Information Systems & Software Information Systems </p>
            <ul>
                <li>
                    Cumulative GPA of ~6.6 (<a href="{{ url_for('doggybag', file='Studies Report') }}">academic transcript</a>)
                </li>
                <li>Accenture Prize in Business Information Systems - 2019</li>
                <li>Cloud Computing: Best Use of Analytic Tool in Project Prize - 2019</li>
                <li>Dean’s Commendation for Academic Excellence - Semester 1 2019</li>
                <li>Dean’s Commendation for Academic Excellence - Semester 2 2019</li>
                <li>Dean’s Commendation for Academic Excellence - Semester 1 2020</li>
            </ul>


            <br>
            <br>

            <span><strong>Toowoomba Grammar School</strong></span>
            <br class="mobile-spacer">
            <span class="float-md-right">2014</span>

            <ul class="mt-3">
                <li>Overall Position (OP) 1</li>
            </ul>

            <br>
            <br>

            <h1>Experience</h1>
            <div class="dropdown-divider"></div>
            <br>

            <span><strong>Halfbrick Studios</strong></span>
            <br class="mobile-spacer">
            <span class="float-md-right">January 2020 - Current</span>
            <p class="mt-3">Data Analyst</p>
            <ul>
                <li>Creation and maintenance of analytics pipelines for mobile games using DBT, SQL, Python and LookML</li>
                <li>Descriptive & predictive modelling for customer lifetime value (LTV)</li>
                <li>Creation and maintenance of API endpoints for data gathering from 3rd parties</li>
                <li>Utilising Looker to visualise OKRs for individual games and the broader business</li>
                <li>Conveying data-driven insights to PMs and developers</li>
                <li>Ad-hoc queries and schema design in BigQuery</li>
                <li>Working effectively independently, as part of a small team, and as part of a small company</li>
                <li>Consistently learning and adapting to changing technologies and methodologies</li>
            </ul>

            <br>
            <br>

            <span><strong>Minor DKL</strong></span>
            <br class="mobile-spacer">
            <span class="float-lg-right">June - July 2020</span>
            <p class="mt-3">Business Analytics & Insights Intern</p>
            <ul>
                <li>Utilising Tableau to effectively understand and visualise data</li>
                <li>Communicating insights to stakeholders through visualisation</li>
                <li>Building self-service dashboards in Tableau for operational business units</li>
                <li>Creation of balanced scorecard for franchisee assessment</li>
                <li>Working closely with a mentor & applying learnings independently</li>
            </ul>

            <br>
            <br>

            <h1>Referees</h1>
            <div class="dropdown-divider"></div>
            <br>

            <div class="row mb-2">
                <div class="col-md-4">
                    <p><strong>Ben Kaw</strong></p>
                    <p>Business Analyst</p>
                    <p>CUA (formerly Minor DKL)</p>
                    <p>Email: <a href="mailto:benkaw@gmail.com">benkaw@gmail.com</a></p>
                    <p>Mobile: 0432 178 946</p>
                    <br class="mobile-spacer">
                </div>
                <div class="col-md-6">
                    <p><strong>Jennifer Grant</strong></p>
                    <p>Business Information Systems Academic</p>
                    <p>University of Queensland</p>
                    <p>Email: <a href="mailto:j.grant@business.uq.edu.au">j.grant@business.uq.edu.au</a></p>
                </div>
            </div>

            <br>
            <p><em>Current manager (Halfbrick) available upon request.</em></p>

            <br>
            <br>
            <div class="dropdown-divider"></div>
            <br>
        <p>Download a copy of this cv <a href="{{ url_for('doggybag', file='CV') }}">here!</a></p>



        </div>


{% endblock %}