{% extends 'base.html' %}
{% set active_page = "info" %}

{% block title %}
    info | alex aird
{% endblock %}

{% block content %}
    <div class="ml-5 mr-5">
        <h1 class="intro-text text-primary">hello, I’m alex.</h1>
        <h1 class="landing-text">
            Information systems major, data nerd, technology enthusiast. Lover of music, fitness, coffee & clothes.
        </h1>
        <br>
        <p>
            I’m a commerce and information technology student at <strong>UQ</strong> and a data analyst / scientist /
            engineer (take your pick) at <strong>Halfbrick</strong>.<br class="mobile-spacer"><br class="mobile-spacer">

            Feel free to connect with me on <a href="https://www.linkedin.com/in/alexander-aird-00947b1b1/">Linkedin</a>,
            shoot me an email at <a href="mailto:alexander.aird@gmail.com">alexander.aird@gmail.com</a>, or give me a
            buzz on 0437 242 093.
        </p>
    </div>
{% endblock %}
{#For something a bit uglier and a bit more functional, check out my uni project <a href="http://viewieee.herokuapp.com/search">viewieee</a>, an IEEE journal article searcher complete with dynamic visualisations.#}