{% extends 'base.html' %}
{% set active_page = "uni" %}

{% block title %}
    uni | alex aird
{% endblock %}

{% block content %}
    <div id="uniCarousel" class="carousel slide" data-ride="false" data-interval="false">

      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <h3 class="text-center">S1-2020</h3>
                <div class="dropdown-divider invisible"></div>
                <div class="row mb-auto">
                    <div class="col-md-6">
                          <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary">infs3202</strong></p>
                              <h3 class="mb-auto">web information systems</h3>
                              <p class="mb-auto unbold">Python Flask, SQLAlchemy, PHP, Mobile Applications Development, AJAX, etc.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/97407">more info</a>
                            </div>
                          </div>
                        </div>

                    <div class="col-md-6">
                          <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">mgts1301</strong></p>
                              <h3 class="mb-auto">management</h3>
                              <p class="unbold mb-auto">fundamental principles of managing business organisations; strategic frameworks and responsible management.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/102082">more info</a>
                            </div>
                          </div>
                    </div>
                  </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <p><strong class="text-primary mb-0 pb-0">deco3800</strong></p>
                                <h3 class="mb-auto">design computing studio 3: propose</h3>
                                <p class="unbold mb-auto">IT capstone: interdisciplinary teams of students develop a proposal for a significant software-based system.</p>
                                <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/105759">more info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{#S2-2019#}

          <div class="carousel-item">
            <div class="container">
                <h3 class="text-center">S2-2019</h3>
                <div class="dropdown-divider invisible"></div>
                <div class="row mb-auto">
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary">deco2800</strong></p>
                              <h3 class="mb-auto">design computing studio 2: testing & evaluation</h3>
                              <p class="unbold mb-auto">agile team software development (design sprints), Kanban, Java, test-driven development.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/105759">more info</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success">bism3208</strong></p>
                              <h3 class="mb-auto">information systems strategy</h3>
                              <p class="unbold mb-auto">managing and leading the information systems function within organisations; strategic alignment of IT services and infrastructure.</p>
{#                              <p class="text-warning mb-auto"><strong>Accenture prize in business information systems</strong></p>#}
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/97407">more info</a>
                          </div>
                      </div>
                  </div>
              </div>

                <div class="row mb-2">
                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary">infs3208</strong></p>
                              <h3 class="mb-auto">cloud computing</h3>
                              <p class="unbold mb-auto">IaaS/PaaS/SaaS, big data analysis, Docker & containerisation, MapReduce, Apache Spark, NoSQL dabatases & more.</p>
{#                              <p class="card-text text-warning mb-auto"><strong>prize for best use of analytic tool in project</strong></p>#}
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/105759">more info</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success">mktg1501</strong></p>
                              <h3 class="mb-auto">foundations of marketing</h3>
                              <p class="unbold mb-auto">theories of markets & marketing, consumer behaviour, applications of behavioural science & basic marketing principles.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/98715">more info</a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            </div>


{#S1-2019#}

        <div class="carousel-item">
            <div class="container">
                <h3 class="text-center">S1-2019</h3>
                <div class="dropdown-divider invisible"></div>
                <div class="row mb-auto">
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary mb-0 pb-0">infs3200</strong></p>
                              <h3 class="mb-auto">advanced database systems</h3>
                              <p class="unbold mb-auto">distributed db design, query and transaction processing, data integration, data warehousing, data cleansing & data management.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/99205">more info</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">bism3206</strong></p>
                              <h3 class="mb-auto">advanced data analytics</h3>
                              <p class="unbold mb-auto">data utilities and combining datasets, data mining (data exploration, classification, association, and clustering), modelling in R & RapidMiner.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/97320">more info</a>
                          </div>
                      </div>
                  </div>
              </div>

                <div class="row mb-2">
                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary mb-0 pb-0">deco2200</strong></p>
                              <h3 class="mb-auto">graphic design</h3>
                              <p class="unbold mb-auto">fundamental graphic applications for print technologies & principles of print, page anatomy & construction; Adobe Illustrator.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/96316">more info</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">bism3205</strong></p>
                              <h3 class="mb-auto">business information security</h3>
                              <p class="unbold mb-auto">principles of data security: confidentiality, authenticity, integrity, non-repudiation;  managerial perspective of information security controls & audit procedures.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/99923">more info</a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>

        {#S2-2018#}

        <div class="carousel-item">
            <div class="container">
                <h3 class="text-center">S2-2018</h3>
                <div class="dropdown-divider invisible"></div>
                <div class="row mb-auto">
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary mb-0 pb-0">infs2200</strong></p>
                              <h3 class="mb-auto">relational database systems</h3>
                              <p class="unbold mb-auto">DBMS', indexing structures, transaction processing, concurrency control, recovery techniques, query processing and optimizations. </p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/93643">more info</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">bism2202</strong></p>
                              <h3 class="mb-auto">data analytics & information management</h3>
                              <p class="unbold mb-auto">creating business value by modelling, integrating, analysing and visualising data; dimensional modelling (Kimball), data warehousing and ETL.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/94239">more info</a>
                          </div>
                      </div>
                  </div>
              </div>

                <div class="row mb-2">
                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary mb-0 pb-0">csse2002</strong></p>
                              <h3 class="mb-auto">programming in the large</h3>
                              <p class="unbold mb-auto">specification, implementation, testing and maintenance of software systems; data abstraction, unit testing, classes & exceptions in Java.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/91906">more info</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">laws1100</strong></p>
                              <h3 class="mb-auto">business law</h3>
                              <p class="unbold mb-auto">the Australian legal system, the law of torts, the law of contract, consumer protection law, intellectual property law and business structures.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/99923">more info</a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>

{#          S1-2018 #}

          <div class="carousel-item">
            <div class="container">
                <h3 class="text-center">S1-2018</h3>
                <div class="dropdown-divider invisible"></div>
                <div class="row mb-auto">
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary mb-0 pb-0">csse1001</strong></p>
                              <h3 class="mb-auto">software engineering</h3>
                              <p class="unbold mb-auto">programming with particular focus on the fundamentals of computing & programming; building abstractions with procedures, data & objects; data modelling; designing, coding & debugging programs. </p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/92705">more info</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">bism3222</strong></p>
                              <h3 class="mb-auto">information analysis & system design</h3>
                              <p class="unbold mb-auto">structured data analysis & design for business; object-oriented analysis & design; testing & quality assurance; experience with computer-assisted software engineering tools for business applications.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/90850">more info</a>
                          </div>
                      </div>
                  </div>
              </div>

                <div class="row mb-2">
                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">econ1020</strong></p>
                              <h3 class="mb-auto">macroeconomics</h3>
                              <p class="unbold mb-auto">functioning of the economy & its interaction with international economy; GDP, unemployment & inflation, interest rates, investment, government expenditure, taxation policies & balance of payments.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/90872">more info</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">acct2102</strong></p>
                              <h3 class="mb-auto">principles of management accounting</h3>
                              <p class="unbold mb-auto">costing concepts, systems and techniques that provide information for use in the planning, controlling, and decision-making activities within an organisation.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/92684">more info</a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>


{#          s2-2017 #}

          <div class="carousel-item">
            <div class="container">
                <h3 class="text-center">S2-2017</h3>
                <div class="dropdown-divider invisible"></div>
                <div class="row mb-auto">
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary mb-0 pb-0">math1061</strong></p>
                              <h3 class="mb-auto">discrete mathematics</h3>
                              <p class="unbold mb-auto">writing proofs, elementary set theory & graph theory, relations & functions, induction & recursive definitions, introductory probability & more. </p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/87345">more info</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">finm2401</strong></p>
                              <h3 class="mb-auto">financial management</h3>
                              <p class="unbold mb-auto">financial modelling, time value of money, stock & bond valuation, capital budgeting & net present value, risk & diversification, & the Capital Asset Pricing Model.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/87696">more info</a>
                          </div>
                      </div>
                  </div>
              </div>

                <div class="row mb-2">
                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary mb-0 pb-0">deco1800</strong></p>
                              <h3 class="mb-auto">design computing studio 1: interactive technology</h3>
                              <p class="unbold mb-auto">applying prior learning to the design and development of elegant design computing solutions based a given brief; team-based project iteration.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/87028">more info</a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>

          {#          s1-2017 #}

          <div class="carousel-item">
            <div class="container">
                <h3 class="text-center">S1-2017</h3>
                <div class="dropdown-divider invisible"></div>
                <div class="row mb-auto">
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary mb-0 pb-0">infs1200</strong></p>
                              <h3 class="mb-auto">information systems</h3>
                              <p class="unbold mb-auto">information systems analysis, design and implementation, relational database technology, data modelling & data querying using SQL. </p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/85737">more info</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">econ1310</strong></p>
                              <h3 class="mb-auto">quantitative economic & business analysis</h3>
                              <p class="unbold mb-auto">descriptive statistics, probability concepts, theoretical distributions, inferential statistics (confidence intervals & hypothesis testing) in business & economics.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/94239">more info</a>
                          </div>
                      </div>
                  </div>
              </div>

                <div class="row mb-2">
                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary mb-0 pb-0">deco1400</strong></p>
                              <h3 class="mb-auto">web design</h3>
                              <p class="unbold mb-auto">internet concepts, design principles & methods, semantics & accessibility with a focus on client-side development of websites: HTML, CSS & JavaScript.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/84819">more info</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-primary mb-0 pb-0">deco1100</strong></p>
                              <h3 class="mb-auto">design thinking</h3>
                              <p class="unbold mb-auto">discovery, interpretation, ideation, experimentation and evolution of design solutions; introduction to design sprints.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/86338">more info</a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>

                    {#          s2-2016 #}

          <div class="carousel-item">
            <div class="container">
                <h3 class="text-center">2016</h3>
                <div class="dropdown-divider invisible"></div>
                <div class="row mb-auto">
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">acct2101</strong></p>
                              <h3 class="mb-auto">financial reporting</h3>
                              <p class="unbold mb-auto">preparation and interpretation of financial statements, common business transactions for companies & the regulatory framework for financial reporting.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/80616">more info</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">econ1010</strong></p>
                              <h3 class="mb-auto">microeconomics</h3>
                              <p class="unbold mb-auto">prioritising the use of limited available resources; understanding how decision-making units in the economy make choices.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/80707">more info</a>
                          </div>
                      </div>
                  </div>
              </div>

                <div class="row mb-2">
                  <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                          <div class="card-body d-flex flex-column align-items-start">
                              <p><strong class="text-success mb-0 pb-0">acct1101</strong></p>
                              <h3 class="mb-auto">accounting for decision-making</h3>
                              <p class="unbold mb-auto">analysis and interpretation of financial statements & other business information for the purpose of decision making.</p>
                              <a href="https://course-profiles.uq.edu.au/student_section_loader/section_1/81639">more info</a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#uniCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#uniCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>





{% endblock %}




