{% extends 'base.html'%}
{% set active_page = 'work' %}

{% block title %}
    work | alex aird
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row">
        <div class="col-md-2">
            <div class="nav text-secondary flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="text-secondary nav-link active" id="nav-viewieee" data-toggle="pill" href="#v-viewieee" role="tab" aria-controls="v-viewieee" aria-selected="true">viewieee</a>
                <a class="text-secondary nav-link" id="nav-reflection" data-toggle="pill" href="#v-reflection" role="tab" aria-controls="v-reflection" aria-selected="false">evidence-based reflection</a>
                <a class="text-secondary nav-link" id="nav-analytics" data-toggle="pill" href="#v-analytics" role="tab" aria-controls="v-analytics" aria-selected="false">project report: advanced analytics</a>
                <a class="text-secondary nav-link" id="nav-strategy" data-toggle="pill" href="#v-strategy" role="tab" aria-controls="v-strategy" aria-selected="false">project report: information systems strategy</a>
                <a class="text-secondary nav-link" id="nav-rnd" data-toggle="pill" href="#v-rnd" role="tab" aria-controls="v-rnd" aria-selected="false">project report: r&d for a software-based system</a>
            </div>
        </div>


    <div class="col-md-10">
        <br class="mobile-spacer">
        <div class="tab-content mt-2" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-viewieee" role="tabpanel" aria-labelledby="nav-viewieee">
                <p>
                    <a href="https://viewieee.herokuapp.com/search">viewieee</a> is a IEEE academic journal search site
                    built as my <em>web information systems</em> university project. Much like this portfolio, it
                    was built using Python Flask and hosted with Heroku - but viewieee is a little less aesthetic and
                    a lot more sophisticated.
                </p>
                <p>
                    Search results are returned via live requests to the <a href="https://core.ac.uk/">CORE</a> API.
                    Journal visualisations are generated dynamically with each search through a combination of backend
                    data manipulation and the Pygal library*.
                </p>
                <p>
                    Viewieee also has an associated relational database. The SQLAlchemy library was utilised as the link
                    between viewieee and the DB, mitigating the risk of SQL Injection Attacks. The DB enables the
                    fully-functional user account system, including user favourites & commenting on articles. Moreover,
                    an internal messaging system, complete with live notifications via JavaScript/AJAX, is available to
                    users.
                </p>
                <br>
                <br>
                <p>
                    <em>
                        *Because Pygal visualisations are dynamic, they are not supported in Internet Explorer or
                        MS Edge. It's also running on Heroku's free tier... give it a minute to ramp up.
                    </em>
                </p>
            </div>
            <div class="tab-pane fade" id="v-reflection" role="tabpanel" aria-labelledby="nav-reflection">
                <p>
                    Reflective research report for <em>design computing studio 3: build.</em> The purpose of the report
                    was to critically examine my learnings from the studio 3 group project (also attached to this
                    portfolio) within the context of established practice and knowledge. In my case, I unpacked the
                    role of centralised leadership within a distributed (COVID-19-impacted) team.
                </p>
                <div class="dropdown-divider"></div>
                <br>
                <iframe src="https://drive.google.com/file/d/1EP3FYiVivNfzYtk0UVrIqxvubngUvznx/preview" width="100%" height="1000"></iframe>
            </div>
            <div class="tab-pane fade" id="v-analytics" role="tabpanel" aria-labelledby="nav-analytics">
                <p>
                    Project report for UQ's <em>advanced data analytics</em> course (2018). This group-based project
                    required teams to device a data analytics-based solution to a business problem faced by an
                    organisation of our choosing. My team selected TransLink*, with the ultimate goal of implementing
                    predictive analytics models to accurately estimate the number of passengers the business might
                    expect on any given day.
                </p>
                <p>
                    Importantly, self-selection of an organisation meant we also had to source our own dataset(s). In
                    our case, this meant manually wrangling data from various sources, including TransLink's passenger
                    count historical records and various third party datasets, such as weather and social event records.
                </p>
                <p>
                    As part of a team of 5, I was responsible for data sourcing, descriptive analytics (R), modelling
                    (a Decision Tree, Multiple Linear Regression and Neural Network in RapidMiner), recommendations and
                    overall conclusion. I was also unofficial team lead, which involved scoping and directing the
                    project, making final decisions, and ensuring deadlines were met.
                </p>
                <br>
                <br>
                <p>
                    *This report was <strong>not</strong> requested or authorised by TransLink and in no way represents
                    TransLink, TransLink's business interests, or TransLink's opinions.
                </p>
                <div class="dropdown-divider"></div>
                <br>
                <iframe src="https://drive.google.com/file/d/1qBkc5aMlRBdpZSRnTzhfZ5Zy7qAQRw-8/preview" width="100%" height="680"></iframe>
            </div>
            <div class="tab-pane fade" id="v-strategy" role="tabpanel" aria-labelledby="nav-strategy">
                <p>
                    Project report for UQ's <em>information systems strategy</em> course (2019). The project required
                    teams of 5 to choose a company operating in Australia and prepare a recommendation report for the
                    Board which analyses how a selected information system or FinTech could improve the performance of
                    the organisation. My team selected JB Hi-Fi*. The paper was designed to describe the technology
                    sufficiently such that Board members who are not IT-literate could understand the basic elements and
                    take action on the provided recommendations.
                </p>
                <p>
                    I was responsible for sourcing and review of relevant journal articles, construction of the
                    IS-driven strategic initiative, overview of risk, FinTech/IT strategy, and recommendations. Unlike
                    most university projects, this assessment pieces had an official leadership role (CEO), which I
                    assumed. This left me wholly responsible for project planning, equitable distribution of
                    responsibilities and jobs, and overall project quality.
                </p>
                <br>
                <br>
                <p>
                    *This report was <strong>not</strong> requested or authorised by JB Hi-Fi and in no way represents
                    JB Hi-Fi, JB Hi-Fi's business interests, or JB Hi-Fi's opinions.
                </p>
                <div class="dropdown-divider"></div>
                <br>
                <iframe src="https://drive.google.com/file/d/17TiaduNG7W4N6gIZO97bkzE46Tb6TThM/preview" width="100%" height="1000"></iframe>
            </div>
            <div class="tab-pane fade" id="v-rnd" role="tabpanel" aria-labelledby="nav-rnd">

                <div class="dropdown-divider"></div>
                <br>
                <iframe src="https://drive.google.com/file/d/1Hg6bkzsDg8mpcuUscUp7hSK4z9qbSJOh/preview" width="100%" height="680"></iframe>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}